@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  background-image: url('../assets/welcome-bg.png');
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}
main {
  max-width: 428px;
  margin: 0 auto;
}

.container {
  width: 100%;
  overflow: hidden;
  display: flex;
  position: relative;
}

.ribbon {
  position: absolute;
  animation: ribbon-slide 2s ease;
  margin: 0 auto;
  width: 100%;
  display: block;
  z-index: 0;
}

.content {
  z-index: 1;
  width: 100%;
  padding: 0 1.5rem;
}

.img-wrapper {
  margin: 0 auto;
  margin-top: 72px;
  width: 267px;
  overflow: hidden;
}
.img-wrapper img {
  width: 100%;
}

.content-pic {
  display: block;
  margin: 0 auto;
  width: 260px;
}

.title {
  margin-top: 32px;
}

.celebrate-text {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-family: 'Passion One', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #ffffff;
}

.greeting {
  margin-top: 64px;
  width: 100%;
  font-family: 'Passion One', cursive;
}

.greeting-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

.greeting-hi {
  text-align: center;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

.greeting-name {
  text-align: center;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;
  color: #e0f300;
  animation: name-slide 2s ease;
}

.checkbox {
  margin-top: 56px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox input {
  outline: 2px solid #464646;
  background-color: transparent;
}

.checkbox-label {
  font-family: 'Passion One', cursive;
  font-style: normal;
  font-size: 18px;
  text-align: justify;
  color: #464646;
  margin-left: 14px;
}

.btn-wrapper {
  margin-top: 16px;
}

.btn {
  width: 100%;
  height: 55px;
  font-family: 'Passion One', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #787777;
  background: #a6adb4;
  border-radius: 10px;
  border: none;
}

.footer {
  margin-top: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 78px;
  background-color: #1f1f1f;
  font-family: 'Crimson Pro', serif;
  font-size: 16px;
  color: #ffffff;
}

@keyframes name-slide {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes ribbon-slide {
  0% {
    margin-top: -100%;
  }

  100% {
    margin-top: 0%;
  }
}
